  * {
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    font-family: helvetica, arial, verdana, sans-serif;
  }

::-webkit-scrollbar { width: 0px; }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,.25); border-radius: 15px; }

	*::selection{ color: pink; }
	*::-moz-selection{ color: pink; }

  html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: black;
    box-sizing: border-box;
    overflow-x: hidden;
      -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s;
  
  }

  header{
    /*font-family: 'kuenstler_schreibschrift_bqRg';*/
    font-size: 20px;
    color:black;
    text-align: center;
    font-style: normal;
    text-decoration: none;
/*    margin-bottom: 5px;
    margin-top: 10px;*/
  }


  body {
/*    padding: 8px;*/
    background-color: white;
    box-sizing: border-box;
 /*   padding: 5px;*/
  }
 
#name {
  /*background-color: black;*/
  color: black;
  font-size: 40px;
      padding: 5px 5px 5px 5px;

}

  .gutter {
    background-color: black;
  }

  .gutter:hover{
 
  
  }

  .gutter.gutter-horizontal {
  
    background-size: 100% auto;
   

  }
  .gutter.gutter-horizontal:hover {
  
    

  }


  .split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;



  }

  .content {
/*  border: 1px solid #C0C0C0;
  box-shadow: inset 0 1px 2px #e4e4e4;
  background-color: #fff;*/
  }


  #a, #b, #c, #e, #f, #g, #h, #i, #j { 
		overflow-y: hidden; 
    overflow-x: hidden;
    /*overflow: scroll;*/
    scroll-behavior: smooth;


  }
  #g,#h,#i,#j{
  
  }

  #d{
    overflow-y: scroll; 
    overflow-x: hidden;
    /*overflow: scroll;*/
    scroll-behavior: smooth;
  }
/*  #b:hover, #a:hover, #c:hover, #d:hover{
      -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  }*/

    
 

  #noUnderline {
    text-decoration: none;

  }
  .menu{
    font-size: 38px;
    padding: 20px 20px 20px 20px ;

    display:block;
    list-style-type: none; 
    list-style-image: none; 
    font-style: bold;
   
    
  }
  .biggertext{
    display: none;
  }









.mapmenu{
  
  border: 2px solid ;
  border-color: black;
  -webkit-transition: all 1s; 
  -moz-transition: all 1s; 
  -o-transition: all 1s; 
  transition: all 1s;


  

}
.mapmenu2{
  z-index: 2000;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 4px solid;
  left:-4px;
  top: -4px;
  position: fixed;
  -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s;
  justify-content: space-between;
  
  height: 50px; 
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  /*height: 10%;*/
  /*border:none;*/
  /*height: 100%;*/
}
#mapmenuleft{width:20%;}
#mapmenucenter{
  left: -4px;
  width:50%;
  overflow-y: scroll;

}

#mapmenuright{
  position: fixed;
  border: 4px solid;
  right: -10px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  
  width:50%;
  
  top: 0%;
  overflow-y: scroll;
/*  display: flex;
  align-items: center;
  justify-content: center;*/
  padding-top: 90px;
  

  }
#menucontainer{
  display: flex;
  position: relative;
  float: top;

  width: 100%;
  height: 100%;

}
#Layer_1{
  top: 40px;
  width: 100%;
  
   /* overflow: auto;*/
}
svg{
  -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s;
}
polygon{-webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s;}
.shopnames{
  
/*  width: 100%;
  height:100%;*/
  position: absolute;
}
.shop{
  font-size: 30px;
}
.showme{
  font-size: 45px;
  padding: 20px 20px 20px 20px;
  height: 100%;
  width: 100%;
  display: none;

}
#shop1:hover > #showme{
  display: block;

}
#shop1:hover{
  fill: red;
}
.fillcolor{
  fill: pink;
}
#streetheader{

}
#header{
  font-size: 20px;
  position: relative;
  top: 0;
  transition: top 0.2s ease-in-out;
  height:40px;
  width: 100%;
  padding-top: 20px;
}

polygon, rect, line, polyline{
  z-index:2;
    -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s;
}
#Layer1{
  /*background-image:url("25.png");*/
}
.scrollthis{
  width: 100%;
  overflow-y: scroll;
}
#logo{
  max-width: 90%;
  padding: 10px 10px 10px 10px ;
  z-index: 10;
  -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s;

}
#logoyas{
  blend-mode: multiply;
  max-width: 150px;
  height: auto;
  -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s;
}
.zindex20{

}
.activehouse{
  fill:red;
}
#aboutus{
padding-right: 40px;
font-size: 30px;
padding-top: 10px;
height: 100%;

  
}
.textabout{
  position: absolute;
  font-size:27px;
  padding: 40px 20px 20px 20px;
  height: auto;
  width: 90%;
  padding-bottom: 150px;
	
}
.imageshop{
  width: 100%;
  height: auto;
/*  padding: 0px 0px 0px 0px;*/

  align-self: center;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.infoshop{
  font-size:27px;
  padding-top: 15px;
  padding-bottom: 25px;

}
.collaboration{
  font-size: 20px;
}
.last{
  margin-bottom: 100px;
}
.audio{
width: 100%;
position: relative;
float: top;
height: 100px;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
